{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'catalogo/styles.css' %}">
    <title>{% block title %}  {% endblock title %}</title>
</head>
<body>
    <nav>
        <h3>Menu</h3>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/catalogo">Catalogo</a></li>
        </ul>
    </nav>
    {% block content %}

    {% endblock content %}
</body>
</html>